<div class="container">
	<div class="table" ng-controller="ViewSalesOrderController as salesOrderCtrl">
		<table>
			<tr>
				<td>
				 	<a href="#/catalog/view" class="btn btn-primary">Browse Product Catalog</a>
				<td>
				<td></td>
			</tr>
			<tr>
				<td>
				    <a href="" class="btn btn-primary" ng-click="getExistingSalesOrder(salesOrderUid);">View Order</a>  Enter Order # <input class="input-lg" type="number" ng-init="salesOrderUid=52" ng-model="salesOrderUid"> 
				<td>
			</tr>
		</table>
	</div>
</div>
