  <div ng-cloak class="container" ng-controller="ViewSalesOrderController as salesOrderCtrl">
    <h2>Sales Order Information</h2>
    <div class="panel panel-default">
        <div class="panel-heading">Order #: {{salesOrder.orderNumber}}</div>
        <div class="panel-body">
            <p>Email Address: {{salesOrder.emailAddress}}</p>              
            <p>Order Date: {{salesOrder.salesOrderDate | date: 'mediumDate'}}</p>
            <p>Order Status: {{salesOrder.salesOrderStatus}}</p>
        </div>
    </div>
   
    <table class="table">
        <tr>
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h3 class="panel-title">Ship To</h3>
                </div>
                <div class="panel-body">
                    {{salesOrder.shipToStreetNumber + ' ' + salesOrder.shipToStreetName + ' ' + salesOrder.shipToUnitNumber}}<br/>
                    {{salesOrder.shipToCity + ', ' + salesOrder.shipToState + ' ' + salesOrder.shipToZipCode}}
                </div>
                </div>   
            </td>
            <td>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Bill To</h3>
                  </div>
                  <div class="panel-body">
                    {{salesOrder.billToStreetNumber}} {{salesOrder.billToStreetName}} {{salesOrder.billToUnitNumber}}<br/>
                    {{salesOrder.billToCity}}, {{salesOrder.billToState}} {{salesOrder.billToZipCode}}
                  </div>
                </div>              
            </td>
        </tr>
    </table>
       
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Payment Information</h3>
      </div>
      <div class="panel-body">
        Credit Card Type: {{salesOrder.creditCardType}}<br/>
        Name On Card: {{salesOrder.nameOnCreditCard}}<br/>
        Credit Card Number: {{salesOrder.creditCardNumber}}<br/>
        CSV: {{salesOrder.creditCardCsv}}<br/>
        Expiration Date: {{salesOrder.creditCardExpirationDate | date:'MM/yyyy'}}
      </div>
    </div>  
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Order Items: {{salesOrder.lineItems.count()}}</h3>
      </div>
      <div class="panel-body">
          <table class="table">
            <tr>
            	<th>Item</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Extended Price</th>
            </tr>
            <tr ng-repeat="salesOrderLineItem in salesOrder.lineItems">
            	<td>{{salesOrderLineItem.catalogItem.item.productName}}</td>
                <td>{{salesOrderLineItem.itemQuantity}}</td>
                <td>{{salesOrderLineItem.itemPrice | currency}}</td>
                <td>{{salesOrderLineItem.extendedPrice | currency}}</td>
            </tr>
          </table>
     </div>
    </div> 

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Order Summary</h3>
      </div>
      <div class="panel-body">
            Sub-total: {{salesOrder.subTotal | currency}}<br/>
            Promotion Code: {{salesOrder.promoCode}}<br/>
            Discount: {{salesOrder.discount | currency}}<br/>
            Sales Tax: {{salesOrder.salesTax | currency}}<br/>
            Shipping: {{salesOrder.shipping | currency}}<br/>
            Total: {{salesOrder.total | currency}}
      </div>
    </div> 
    </div>
    <form action="..." method="get">
        <button type="submit" value="Update">Update Order</button>
        <button type="submit" value="Cancel">Cancel Order</button>
    </form>
